<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ 'common.title'|trans }}{% endblock %}">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
    {% block meta_og %}
        <meta property="og:title" content="{% block meta_og_title %}{% endblock %}"/>
        <meta property="og:type" content="{% block meta_og_type %}website{% endblock %}"/>
        <meta property="og:url"
              content="{% block meta_og_url %}{{ absolute_url(path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))) }}{% endblock %}"/>
        <meta property="og:image"
              content="{% block meta_og_image %}{{ absolute_url(asset('img/logo.png')) }}{% endblock %}"/>
        <meta property="og:site_name" content="{% block meta_og_site_name %}{{ 'common.title'|trans }}{% endblock %}"/>
        <meta property="fb:app_id" content="{% block meta_og_fb %}{% endblock %}"/>
        <meta property="og:description"
              content="{% block meta_og_description %}{% endblock %}"/>
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="canonical"
          href="{{ absolute_url(path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))) }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    {% endblock stylesheets %}
    {% block header_js %}{% endblock %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body {% block body_class %}{% endblock %}>

{% block header %}
    <header id="header">

        {% include 'app/common/_header.html.twig' %}

    </header>
{% endblock header %}

{% block body %}
    <main id="main">
        {% block full_container %}

            {% block container_before %}{% endblock container_before %}
            <div class="container {% block container_class %}{% endblock %}" id="container">

                {% block container %}
                    <div class="content">

                        {% block flash_message %}
                            {% include 'app/common/_flash.html.twig' %}
                        {% endblock flash_message %}

                        {% block content %}
                        {% endblock content %}

                    </div>
                {% endblock container %}
            </div>

            {% block container_after %}{% endblock container_after %}

        {% endblock  full_container %}
    </main>
{% endblock body %}

{% block footer %}
    <footer id="footer">
        {% include 'app/common/_footer.html.twig' %}
    </footer>
{% endblock %}

{# Block pour la librairie du thème javascript #}
<script src="{{ asset('js/app.min.js') }}"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset('js/respond.min.js') }}"></script>
<![endif]-->
<!--[if lt IE 10]>
<script type="text/javascript" src="{{ asset('js/jquery.placeholder.min.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('input, textarea').placeholder();
    });
</script>
<![endif]-->
<script>
    $(document).ready(function () {
        {% block icheck_script %}
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_minimal-green',
            radioClass: 'iradio_minimal-green'
        });
        {% endblock %}
    });
</script>

{% include 'AgileKernelBundle:asset:javascripts.html.twig' %}

{% block view_js %}{% endblock view_js %}

</body>
</html>
